body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #cac6c6;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: tomato;
    text-align: center;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: darkslategray;
}

.circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
  }
  
  .circle img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }